.profile__avatar-save-button {
    background-image: url("../../../images/edit-button.svg");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 0;
    height: 120px;
    width: 120px;
    transition: opacity 0.3s ease;
}

.profile__avatar-save-button:hover {
    opacity: 80%;
    background-color: black;

}