.photos__like-button {
  background: url("../../../images/like-button.svg") center no-repeat;
  background-size: 22px 16px;
  width: 22px;
  height: 19px;
  transition: opacity 0.3s ease;
}

.photos__like-button:hover {
  opacity: 0.5;
}