.popup__save-button {
  height: 46px;
  background: #000;
  margin-top: 45px;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 880px) {
  .popup__save-button {
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}
