.photos__like-button {
  background-image: url("../../../images/like-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
  width: 22px;
  height: 19px;
  margin-top: 5px;
  transition: opacity 0.3s ease;
}

.photos__like-button:hover {
  opacity: 0.5;
}
