.profile__job {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  padding-top: 9px;
  padding-bottom: 33px;
}

@media screen and (min-width: 880px) {
  .profile__job {
    font-size: 18px;
    padding: 0;
  }
}
